# Core Libraries
pandas                          # For data # Deployment
# docker                        # Install Docker Desktop separately
kubernetes                      # K8s client (optional)
gunicorn                        # Production WSGI serverpulation
numpy                           # For numerical operations
scikit-learn                    # For ML utilities (splitting, metrics)
textblob

# NLP and Transformers
transformers                    # Hugging Face models like DistilBERT, T5
torch                           # PyTorch backend
spacy                           # For entity extraction, tokenization
sentencepiece                   # For T5 tokenizer support
accelerate>=0.21.0              # For fast Transformer training

# MLOps and Serving
fastapi                         # API layer for model serving
uvicorn[standard]               # ASGI server to run FastAPI
pydantic                        # Data validation in FastAPI

# UI Framework
streamlit                       # Lightweight web UI for demo

# Evaluation
nltk                            # Tokenization + BLEU
rouge-score                     # ROUGE metric implementation
